<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('zh列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <p>日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="date_start"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="date_end"/>
                            </li>
                            <li>
                                <p>顾问：</p>
                                <select name="gw" th:with="type=${@dict.getType('test_gwmd')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>老师：</p>
                                <select name="ls" th:with="type=${@dict.getType('test_lsmd')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>学员：</p>
                                <input type="text" name="xy"/>
                            </li>
                            <li>
                                <p>是否转化：</p>
                                <select name="sfzh" th:with="type=${@dict.getType('test_sfzh')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zh:zh:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="zh:zh:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zh:zh:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zh:zh:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zh:zh:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zh:zh:remove')}]];
        var gwDatas = [[${@dict.getType('test_gwmd')}]];
        var lsDatas = [[${@dict.getType('test_lsmd')}]];
        var sfzhDatas = [[${@dict.getType('test_sfzh')}]];
        var prefix = ctx + "zh/zh";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "zh",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'date', 
                    title : '日期'
                },
                {
                    field : 'gw', 
                    title : '顾问',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(gwDatas, value);
                    }
                },
                {
                    field : 'ls', 
                    title : '老师',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(lsDatas, value);
                    }
                },
                {
                    field : 'xy', 
                    title : '学员'
                },
                {
                    field : 'sfzh', 
                    title : '是否转化',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sfzhDatas, value);
                    }
                },
                {
                    field : 'czy', 
                    title : '操作员'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>