<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.flow.chart.node.mapper.FlowTaskNodeMapper">
    
    <resultMap type="FlowTaskNode" id="FlowTaskNodeResult">
        <result property="flowid"    column="flowid"    />
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="left"    column="left"    />
        <result property="top"    column="top"    />
        <result property="type"    column="type"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="alt"    column="alt"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFlowTaskNodeVo">
        select flowid, id, name, left, top, type, width, height, alt, create_by, create_time, update_by, update_time, remark from flow_task_node
    </sql>

    <select id="selectFlowTaskNodeList" parameterType="FlowTaskNode" resultMap="FlowTaskNodeResult">
        <include refid="selectFlowTaskNodeVo"/>
        <where>  
            <if test="flowid != null "> and flowid = #{flowid}</if>
            <if test="name != null "> and name like concat('%', #{name}, '%')</if>
            <if test="left != null "> and left = #{left}</if>
            <if test="top != null "> and top = #{top}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="alt != null "> and alt = #{alt}</if>
        </where>
    </select>
    
    <select id="selectFlowTaskNodeById" parameterType="String" resultMap="FlowTaskNodeResult">
        <include refid="selectFlowTaskNodeVo"/>
        where flowid = #{flowid}
    </select>
        
    <insert id="insertFlowTaskNode" parameterType="FlowTaskNode">
        insert into flow_task_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowid != null ">flowid,</if>
            <if test="id != null ">id,</if>
            <if test="name != null ">name,</if>
            <if test="left != null ">left,</if>
            <if test="top != null ">top,</if>
            <if test="type != null ">type,</if>
            <if test="width != null ">width,</if>
            <if test="height != null ">height,</if>
            <if test="alt != null ">alt,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowid != null ">#{flowid},</if>
            <if test="id != null ">#{id},</if>
            <if test="name != null ">#{name},</if>
            <if test="left != null ">#{left},</if>
            <if test="top != null ">#{top},</if>
            <if test="type != null ">#{type},</if>
            <if test="width != null ">#{width},</if>
            <if test="height != null ">#{height},</if>
            <if test="alt != null ">#{alt},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null ">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFlowTaskNode" parameterType="FlowTaskNode">
        update flow_task_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id = #{id},</if>
            <if test="name != null ">name = #{name},</if>
            <if test="left != null ">left = #{left},</if>
            <if test="top != null ">top = #{top},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="width != null ">width = #{width},</if>
            <if test="height != null ">height = #{height},</if>
            <if test="alt != null ">alt = #{alt},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null ">remark = #{remark},</if>
        </trim>
        where flowid = #{flowid}
    </update>

    <delete id="deleteFlowTaskNodeById" parameterType="String">
        delete from flow_task_node where flowid = #{flowid}
    </delete>

    <delete id="deleteFlowTaskNodeByIds" parameterType="String">
        delete from flow_task_node where flowid in 
        <foreach item="flowid" collection="array" open="(" separator="," close=")">
            #{flowid}
        </foreach>
    </delete>
    
</mapper>