<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('调度日志详情列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="flow:detail:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('flow:detail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('flow:detail:remove')}]];
        var stautsType = [[${@dict.getType('flow_stauts')}]];
        var prefix = ctx + "flow/detail";
        var flow_sl_id = '[[${flowSlId}]]'.replace("\"", "").replace("\"", "");
        $(function() {
            var options = {
                url: prefix + "/list?flowSlId="+flow_sl_id,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "调度日志详情",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'flowSlId', 
                    title : '流程实例ID'
                },
                {
                    field : 'flowName', 
                    title : '流程名称'
                },
//                 {
//                     field : 'flowNodeId', 
//                     title : '流程节点ID'
//                 },
                {
                    field : 'flowNodeName', 
                    title : '节点名称'
                },
                {
                    field : 'startTime', 
                    title : '开始时间'
                },
                {
                    field : 'endTime', 
                    title : '结束时间'
                },
                {
                    field : 'stauts', 
                    title : '状态',
   		            formatter: function(value, row, index) {
   		            	return $.table.selectDictLabel(stautsType, value);
   		            }
                },
                {
                    field : 'remark', 
                    title : '信息',
                    formatter: function(value, row, index) {
                    	return value && value.length > 50 ? value.substr(0,50)+'…' : value ;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="openInfo(\'' + row.remark + '\')"><i class="fa fa-info"></i> 查看信息</a>');
                        return actions.join('');
                    }
                }/* ,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
//                         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                } */
                ]
            };
            $.table.init(options);
        });
        function openInfo(remark) {
			if(remark && remark != 'null'){
				layer.alert(remark);
			}else{
				layer.msg('无信息...');
			}
		}
    </script>
</body>
</html>